@model Project_3.Models.Product

@{ ViewBag.Title = "Details"; }

<div>
    <div style="padding:2%">
        <p style="width:100%">
            <img src="~/Img/box.png" style="width:10%" />
            <b style="font-weight:bold;font-size:30px;padding-left:1%">Chi tiết sản phẩm và dịch vụ</b>
        </p>
    </div>
    <hr />
    <div>
        <div class="horizontal" style="padding-left:2%">
            <h4 style="font-weight:bold"> Mã dịch vụ </h4>
            <h5>
                @Html.DisplayFor(model => model.Id)
            </h5>

            <h4 style="font-weight:bold">
                Tên dịch vụ
            </h4>

            <h5>
                @Html.DisplayFor(model => model.Name)
            </h5>

            <h4 style="font-weight:bold">
                Mã danh mục
            </h4>

            <h5>
                @Html.DisplayFor(model => model.Id_categories)
            </h5>

            <h4 style="font-weight:bold">
                Giá dịch vụ
            </h4>

            <h5>
                @Html.DisplayFor(model => model.Price)
            </h5>

        </div>
    </div>
</div>

<hr />
<a href="@Url.Action("Index", "Product")" style="background-color:forestgreen;color:white;font-weight:bold;font-size:20px;padding:7px 20px"> Quay lại</a>
