@using Project_3.Models;
@{
    ViewBag.Title = "AccountManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-top-section set-bg" data-setbg="../../Content/Temp/img/page-top-bg/4.jpg">
    <div class="container">
        <h2>Quản lí tài khoản</h2>
        <nav class="site-breadcrumb">
            <a class="sb-item" href="@Url.Action("Index", "Home")">Trang chủ</a>
            <span class="sb-item active">Quản lí tài khoản</span>
        </nav>
    </div>
</section>
<div class="row" style="margin-bottom:5%;margin-top:3%">
    <div class="col-md-1"></div>

    <div class="col-md-5">
        <div style="text-align: center; margin-top:2%;">
            <img src="~/Img/wallet.png" style="width:20%" />
            <h3 style="margin:4%">Ví của tôi</h3>
            <p style="font-size:18px;margin-bottom:2%"><b>Số dư :</b> <b style="color:green;font-size:20px">@ViewBag.datamoney</b>  vnđ</p>
            <a href="@Url.Action("Create", "account_balance")"><p style="width:70%;font-size:18px;margin-top:3%" type="submit" class="btn btn-success"><b>Nạp tiền vào ví</b></p></a>
        </div>
    </div>

    <div class="col-md-5">
        <div style="text-align: center; margin-top:2%;">
            <img src="~/Img/user.png" style="width:20%" />
            <h3 style="margin:4%">Thông tin của tôi</h3>

            <p style="font-size:18px;margin-left:5%"><b>Tên tài khoản : </b>@ViewBag.user</p>
            <a href="@Url.Action("Logout", "AuthUser")"><p style="width:70%;font-size:18px;margin-top:3%" class="btn btn-danger"><b>Đăng xuất</b></p></a>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<h2>@ViewBag.Message</h2>
