@model Project_3.Models.User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}
<div class="row" style=" margin-top:10%; ">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="col-md-6 col-md-offset-3" style="margin:auto;background-color:black">
            <div style="padding-top:10%;padding-bottom:10%">
                <div style="text-align:center">
                    <img style="margin:auto" src="~/Content/Temp/img/logo.png" alt="">
                    <h2 style="color: white; padding-top: 5%; padding-bottom: 2%">Đăng kí tài khoản</h2>
                </div>


                @using (Html.BeginForm())
                {@Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <h5 style="color: white">Tài khoản</h5>
                    @Html.EditorFor(Model => Model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.FullName, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    <h5 style="color: white">E-mail</h5>
                    @Html.EditorFor(Model => Model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                    @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    <h5 style="color: white">Mật khẩu</h5>
                    @Html.EditorFor(Model => Model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                    @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <button style="width:100%;font-size:18px;margin-top:5%" type="submit" class="btn btn-success"><b>Đăng kí</b></button>
                    <a href="@Url.Action("Login", "AuthUser")"><h6 style="color: white;margin-top:2%">Tôi đã có tài khoản</h6></a>
                </div>
            }
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
