@model Project_3.Models.Oder

@{
    ViewBag.Title = "Details";
}

<div>
    <div style="padding:2%">
        <p style="width:100%">
            <img src="~/Img/cargo.png" style="width:10%" />
            <b style="font-weight:bold;font-size:30px;padding-left:1%">Chi tiết hóa đơn</b>
        </p>
    </div>
    <hr />
    <div>
        <div class="horizontal" style="padding-left:2%">
                <h4 style="font-weight:bold"> Số điện thoại </h4>
            <h5>
                @Html.DisplayFor(model => model.Phone_number)
            </h5>

            <h4 style="font-weight:bold">
                Mã nhà cung cấp
            </h4>

            <h5>
                @Html.DisplayFor(model => model.Id_Brand)
            </h5>

            <h4 style="font-weight:bold">
                Mã sản phẩm
            </h4>

            <h5>
                @Html.DisplayFor(model => model.Id_Product)
            </h5>

            <h4 style="font-weight:bold">
                Giá
            </h4>

            <h5>
                @Html.DisplayFor(model => model.Price)
            </h5>

            <h4 style="font-weight:bold">
                Thời gian đặt
            </h4>

            <h5>
                @Html.DisplayFor(model => model.Create_At)
            </h5>

        </div>
    </div>
</div>

<hr />
<a href="@Url.Action("Order_admin", "order_admin")" style="background-color:forestgreen;color:white;font-weight:bold;font-size:20px;padding:7px 20px"> Quay lại</a>